* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	height: 150vh;
}
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
nav > ul > li {
	list-style-type: none;
}
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
.navbar {
	padding: 1.8rem;
	top: 1rem;
	position: sticky;
	background-color: lightblue;
}
.right-nav {
	text-align: right;
}
button {
	background-color: #c2195b;
	color: white;
	font-size: 0.8rem;
	padding: 0.8rem;
	border-radius: 25px;
	float: right;
	margin-right: 1rem;
}
#bg-image {
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	min-height: 20rem;
/*	font-size: 30px;*/

}
.container {
	font-family: 'Zilla Slab', sans-serif;
	width: 40%;
	float: right;

}
.title{
	color: white;
	font-size: 44px;
	text-align: right;
	margin-right: 15px;
	margin-bottom: 10px;
}
.subtitle{
	color: white;
	font-size: 22px;
	text-align: right;
	margin-right: 15px;
	margin-bottom: 10px;
}
.intro {
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.intro-description {
	margin-top: 50px;
	margin-bottom: 50px;
}
.pre-footer {
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
}
.title-2 {
	margin-bottom: 50px;
}
.prefooter-description {
	color: darkolivegreen;
	margin-bottom: 50px;
}
.book-button {
	margin: 0;
	position: absolute;
	background-color: #336589;
}
footer {
	text-align: center;
	margin-top: 150px;
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}